# Server Configuration
PORT=3000

# AWS Configuration
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_region
AWS_S3_BUCKET_NAME=your_bucket_name
# Set to 'true' if your bucket has public access blocked, 'false' otherwise
AWS_S3_PUBLIC_ACCESS_BLOCKED=false

# FFMPEG Configuration
# Uncomment and set if ffmpeg is not in PATH
# FFMPEG_PATH=/path/to/ffmpeg

# Deepgram Configuration
DEEPGRAM_API_KEY=your_deepgram_api_key

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key 